@import './component-based/address-page.css';
@import './component-based/address-confirmation.css';
@import './component-based/main-map-page.css';

.form-control {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  padding: 13px 19px;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 100%;
  max-width: 540px;
}

.me-sm-2 {
  background-color: rgba(217, 217, 217, 0.59);
  padding: 13px 60px !important;
  border-radius: 16px !important;
}

.me-sm-3 {
  background-color: rgba(217, 217, 217, 0.59);
  padding: 13px 100px !important;
  border-radius: 16px !important;
}

.custom-card {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  align-items: center;
}


input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-top: -7px;
}


input:checked+.slider {
  background-color: #ff9800 !important;
}

.tooltip-wrapper .tooltip-text {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 0.9rem;
}

.form-check-input:checked {
  background-color: #FFC107;
  border-color: #FFC107;
}

.white-text {
  color: #ffffff;
}