.container-with-img {
  height: 100%;
  background-image: url(../img/hero-section.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.bg-of-page {
  background-color: rgba(20, 30, 60, 0.6);
}

.button-elemented {
  background: rgba(255, 166, 0, 1);
  width: 200px;
  height: 53px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(238, 238, 238, 1);
  padding: 12px 26px 12px 26px;
  border-radius: 13px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.transparent-table {
  background-color: transparent !important;
}

.transparent-table th,
.transparent-table td {
  background-color: transparent !important;
}

.content-bg {
  background-color: rgba(20, 30, 60, 0.6);
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 4px 20px rgba(20, 30, 60, 0.6);
}


.list-items {
  margin-top: 1rem;
}

.dark-color {
  color: #ffffff;
}

.light-color {
  color:  #e6e6e6;
}

table th {
  color: #ffffff !important;
}

.disclaimer-text {
  font-weight: 600;
  display: flex;
  justify-content: center;
}